body{
    width: 100%;
    height: 100%;
}
.thehead{
    width: 100%;
    padding:6% 0 4%;
    background: #64a9e9;
    text-align: left;
    color: #ffffff;
    position: relative;
}
.text
{
    position: relative;
    left:2ex;
}
.title
{
    font-family: "Microsoft YaHei";
    font-size: 0.7em;
    font-weight: 100;
}
.pane
{
    width: 100%;
    padding:14% 0 14%;
    background: #ffffff;
    text-align: center;
    color: 		#484848;
    position: relative;
    border-style: none none solid none;
    border-width: 0.2ex;
    border-color: #E8E8E8;
}
.title2
{
    font-family: "Microsoft YaHei";
    font-size: 4em;
    font-weight: 100;
}
.pane2{
    width: 100%;
    padding:5% 0 70%;
    background: #ffffff;
    text-align: center;
    color: 		#ececed;
    position: relative;

}
.smallpane{
    float: left;
    width: 29.9%;
    padding:1% 0 4%;
}
.circle
{
    position: relative;
    left:30%;
    background: 	#686868;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.text2
{
    width:9ex;
    position: relative;
    left:4ex;
    text-align: center;
    color: #303030;
}
.clear {
    clear: both;
}
.bottom{
    position:fixed;
    bottom:0;
    width: 100%;
    padding:2% 0 1%;
    background: #ffffff;
    text-align: left;
    color: 		#ececed;
    border-style: solid none solid none;
    border-width: 0.3ex;
    border-color: #D8D8D8;
}
.bottom{
    width: 100%;
    background: #ffffff;
    text-align: left;
    color: 		#ececed;
}
.bottompane
{
    float:left;
    width:25%;
    color:	#484848;
    text-align: center;
}

.pic_icon {
    height: 1.8em;
    width: auto;
    line-height: 2.5em;
    color: #ffffff;
}
.pane3
{
    padding: 1%;
    width:100%;
    height: 12em;
    background: #D8D8D8;
    text-align: left;
    color: 		#D8D8D8;
    position: relative;
    margin : 2% 0% 0% 0%;
}
.pane3-1
{
    width:100%;
    height: 2em;
    background: #D8D8D8;
    text-align: center;
    color: 		#989898;
    position: relative;
}
.title3
{
    font-family: "Microsoft YaHei";
    font-size: 1.5em;
    font-weight: 100;
}
.title4
{
    font-family: "Microsoft YaHei";
    font-size: 0.5em;
    font-weight: 100;
}
.pane3-2
{
    float:left;
    position: relative;
    text-align: center;
    width:30%;
    height:77%;
    margin : 1% 1% 1% 1.5%;
    background: #E8E8E8;
    color: 		#404040;
}
.circle2
{
    position: relative;
    margin : 15% 15% 8% 23%;
    background: 	#D8D8D8;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}
.pane4
{
    position:relative;
    background: 	#D8D8D8;
    width:90%;
    height:8em;
    margin : 6% 15% 2.5% 5%;
}
.pane4text
{
    float:left;
    position: relative;
    padding-top: 5%;
    width:64%;
    height:10%;
    text-align: right;
    color:#404040;
}
.pane4circle
{
    float:left;
    position: relative;
    margin : 7% 5% 5% 5%;
    width:26%;
    height:8em;
}
.pane4circle2
{
    float:left;
    position: relative;
    margin : 2% 5% 5% 5%;
    width:26%;
    height:8em;
}
.title5
{
    font-family: "Microsoft YaHei";
    font-size: 240%;
    font-weight: 100;
}
.title6
{
    font-family: "Microsoft YaHei";
    font-size: 140%;
    font-weight: 100;
}
.pane4text2
{
    float:left;
    position: relative;
    width:64%;
    height:10%;
    text-align: left;
    color:#404040;
}
.circle3
{
    float:left;
    position: relative;
    background: 	#ffffff;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.pane5
{
    width: 100%;
    padding:14% 0 9%;
    background: #ffffff;
    position: relative;
}